core
config.log
config.status
version*.txt
rsrc/version-info.txt
obj.dbg/
obj/
autom4te.cache/
.vscode/
.gdb_history
pdb2cif
GNUmakefile
cif-diff
cif-grep
cif-merge
cif-validate
cif2pdb
mmCQL
tortoize
cif-drop
aclocal.m4
src/revision.hpp
src/config.hpp
config/ltmain.sh
config/m4/libtool.m4
config/m4/lt~obsolete.m4
config/m4/ltoptions.m4
config/m4/ltsugar.m4
config/m4/ltversion.m4
src/config.hpp.in~
