[submodule "gxrio"]
	path = gxrio
	url = https://github.com/mhekkel/gxrio.git
[submodule "libconfig"]
	path = libconfig
	url = https://github.com/mhekkel/libconfig.git
[submodule "libcifpp"]
	path = libcifpp
	url = https://github.com/PDB-REDO/libcifpp.git
